{% extends 'master.twig' %}

{% block content %}

<section id="two" class="wrapper style1">
    <header class="major">
        <h2>All images</h2>
    </header>
    <div class="container">
        <div class="row">
            {% setcontent pages = 'image/latest/6' allowpaging %}
            {% for page in pages %}
                <div class="6u">
                    <section class="special">

                        {% if page.image is not empty %}
                            <a href="{{ page.link }}" class="image fit">
                                <img src={{ page.image|image }} alt=""/>
                            </a>
                        {% endif %}

                    </section>
                </div>
            {% endfor %}
        </div>
    <div class="pager">{{ pager('', 3, '_pagination.twig' ) }}</div>

    </div>

</section>

{% endblock content %}